html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.studentportal {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 1);
}

.topbarimage {
    position: absolute;
    width: 5.79vw;
    height: 13vh;
    left: 81vw;
    top: 1.04vh;
    z-index: 3;
}

.sideimage1 {
    position: absolute;
    width: 25vw;
    height: 86vh;
    left: 0vw;
    top: 15vh;
    opacity: 0.25;
    z-index: 5;
}

.rectangle000 {
    box-sizing: border-box;
    position: absolute;
    width: 25vw;
    height: 86vh;
    left: 0vw;
    top: 15vh;
    z-index: 3;
    background: #7B7B7B;
    border: 0.07vw solid #000000;
    box-shadow: 0vw 0.3vw 0.3vw rgba(0, 0, 0, 0.25);
}

.rectangle0000 {
    position: absolute;
    width: 25vw;
    height: 15vh;
    left: 0vw;
    top: 0vh;
    background: #7294EE;
    transform: rotate(180deg);
    z-index: 2;
}

.rectangle0 {
    position: absolute;
    width: 75vw;
    height: 15vh;
    left: 25vw;
    top: 0vh;
    background: #90A8E9;
    transform: rotate(180deg);
    z-index: 2;
}

.rectangle69 {
    position: absolute;
    width: 25vw;
    height: 6.5vh;
    left: 0vw;
    top: 19.44vh;
    background: #9C9C9C;
    transform: rotate(180deg);
    z-index: 5;
}

.welcome {
    top: -8vh;
    left: 40vw;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 6.48vw;
    align-self: auto;
    font-style: italic;
    text-align: center;
    font-family: Roboto;
    font-weight: 800;
    line-height: normal;
    font-stretch: condensed;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
    z-index: 3;
    text-shadow: 0.1vw 0 white, 0 0.1vw white, 0.1vw 0 white, 0 0.1vw white;
}

.sidebartext {
    top: 17vh;
    left: 0.3vw;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 2vw;
    align-self: auto;
    font-style: italic;
    text-align: center;
    font-family: Roboto;
    font-weight: 800;
    line-height: normal;
    font-stretch: condensed;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
    z-index: 10;
}

.logo {
    position: absolute;
    width: 9.8vw;
    height: 19.8vh;
    left: 0.5vw;
    top: -2.5vh;
    z-index: 45;
}

.logotext {
    top: -2.8vh;
    left: 10vw;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 2.44vw;
    align-self: auto;
    font-style: italic;
    z-index: 2;
    text-align: center;
    font-family: Roboto;
    font-weight: 800;
    line-height: normal;
    font-stretch: condensed;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
    z-index: 5;
    text-shadow: 0.07vw 0 white, 0 0.07vw white, 0.07vw 0 white, 0 0.07vw white;
}

.midlogo {
    position: absolute;
    width: 75vw;
    height: 114vh;
    left: 24.5vw;
    top: 0.6vh;
    opacity: 0.45;
    z-index: 3;
}

.logout {
    box-sizing: border-box;
    position: absolute;
    width: 4.9vw;
    height: 3vh;
    left: 91vw;
    top: 9.5vh;
    font-size: 1.4vh;
    font-family: Roboto;
    z-index: 10;
    font-style: italic;
    font-weight: 800;
    text-align: center;
    background: #cfd9f6;
    border: 0.075vw solid #000000;
    box-shadow: 0vw 0.3vw 0.3vw rgba(0, 0, 0, 0.25);
    border-radius: 2vw;
}

.logout:hover {
    background-color: #e48d7a;
    color: white;
    transform: scale(1.1);
}

.triangledown {
    position: absolute;
    width: 2vw;
    height: 2vw;
    left: 21.8vw;
    top: 20.7vh;
    z-index: 420;
}

.searchbookside {
    box-sizing: border-box;
    position: absolute;
    width: 22.56vw;
    height: 9.5vh;
    left: 0.6vw;
    top: 30.45vh;
    font-family: Roboto;
    font-style: italic;
    font-weight: 800;
    font-size: 1.3vw;
    z-index: 5;
    text-align: center;
    background: #D9D9D9;
    border: 0.14vw solid #000000;
    box-shadow: 0vw 0.3vw 0.3vw rgba(0, 0, 0, 0.25);
    border-radius: 2.05vw;
    box-sizing: border-box;
}

.searchbookside:hover {
    background-color: #C0C0C0;
    color: white;
    transform: scale(1.03);
}

.checkedoutbookside {
    box-sizing: border-box;
    position: absolute;
    width: 22.56vw;
    height: 9.5vh;
    left: 0.6vw;
    top: 43.2vh;
    font-family: Roboto;
    font-style: italic;
    font-weight: 800;
    font-size: 1.3vw;
    z-index: 5;
    text-align: center;
    background: #D9D9D9;
    border: 0.14vw solid #000000;
    box-shadow: 0vw 0.3vw 0.3vw rgba(0, 0, 0, 0.25);
    border-radius: 2.05vw;
    box-sizing: border-box;
}

.checkedoutbookside:hover {
    background-color: #C0C0C0;
    color: white;
    transform: scale(1.03);
}

.fineholdbookside {
    box-sizing: border-box;
    position: absolute;
    width: 22.56vw;
    height: 9.5vh;
    left: 0.6vw;
    top: 56.4vh;
    font-family: Roboto;
    font-style: italic;
    font-weight: 800;
    font-size: 1.3vw;
    z-index: 5;
    text-align: center;
    background: #D9D9D9;
    border: 0.14vw solid #000000;
    box-shadow: 0vw 0.3vw 0.3vw rgba(0, 0, 0, 0.25);
    border-radius: 2.05vw;
    box-sizing: border-box;
}

.fineholdbookside:hover {
    background-color: #C0C0C0;
    color: white;
    transform: scale(1.03);
}

.requestbookside {
    box-sizing: border-box;
    position: absolute;
    width: 22.56vw;
    height: 9.5vh;
    left: 0.6vw;
    top: 69.2vh;
    font-family: Roboto;
    font-style: italic;
    font-weight: 800;
    font-size: 1.3vw;
    z-index: 5;
    text-align: center;
    background: #D9D9D9;
    border: 0.14vw solid #000000;
    box-shadow: 0vw 0.3vw 0.3vw rgba(0, 0, 0, 0.25);
    border-radius: 2.05vw;
    box-sizing: border-box;
}

.requestbookside:hover {
    background-color: #C0C0C0;
    color: white;
    transform: scale(1.03);
}

.rectangle1bigsportal {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background: #D5CFCF;
}

/*copy from beginning until here for all future student css pages*/

.results {
    position: absolute;
    z-index: 10;
    left: 28.6vw;
    top: 17vh;
    font-family: 'Roboto';
    font-style: italic;
    font-size: 1.52vw;
    line-height: 2vw;
    text-align: center;
    color: #000000;
}

.numberofbookstext {
    position: absolute;
    z-index: 10;
}

.rectangle1bigresultss {
    box-sizing: border-box;
    z-index: 9;
    position: absolute;
    width: 73vw;
    height: 81.83vh;
    left: 26vw;
    top: 16.39vh;
    background: #EAEEFF;
    opacity: 0.79;
    border: 0.07vw solid #000000;
    box-shadow: 0vw 0.3vw 0.3vw rgba(0, 0, 0, 0.25);
    border-radius: 2.05vw;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table th,
table td {
    border: 1px solid #000;
    padding: 8px;
}

table th {
    background-color: #f2f2f2;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tfoot {
    background-color: #f2f2f2;
    font-weight: bold;
}

/* Set the width and height of the scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #4e54c8, #8f94fb);
    border-radius: 10px;
    border: 2px solid #f1f1f1;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 8px;
    z-index: 9999;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  /* Corner */
  ::-webkit-scrollbar-corner {
    background: #f1f1f1;
    border: 2px solid #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  }