html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.studentportal {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}

.sideimage1 {
  position: absolute;
  width: 25vw;
  height: 86vh;
  left: 0vw;
  top: 15vh;
  opacity: 0.25;
  z-index: 5;
}

.rectangle000 {
  box-sizing: border-box;
  position: absolute;
  width: 25vw;
  height: 86vh;
  left: 0vw;
  top: 15vh;
  z-index: 3;
  background: #7B7B7B;
  border: 0.07vw solid #000000;
  box-shadow: 0vw 0.3vw 0.3vw rgba(0, 0, 0, 0.25);
}

.rectangle0000 {
  position: absolute;
  width: 25vw;
  height: 15vh;
  left: 0vw;
  top: 0vh;
  background: #7294EE;
  transform: rotate(180deg);
  z-index: 2;
}

.rectangle0 {
  position: absolute;
  width: 75vw;
  height: 15vh;
  left: 25vw;
  top: 0vh;
  background: #90A8E9;
  transform: rotate(180deg);
  z-index: 2;
}

.rectangle69 {
  position: absolute;
  width: 25vw;
  height: 6.5vh;
  left: 0vw;
  top: 19.44vh;
  background: #9C9C9C;
  transform: rotate(180deg);
  z-index: 5;
}

.welcome {
  top: -8vh;
  left: 32.39vw;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 6.48vw;
  align-self: auto;
  font-style: italic;
  text-align: center;
  font-family: Roboto;
  font-weight: 800;
  line-height: normal;
  font-stretch: condensed;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
  z-index: 3;
  text-shadow: 0.1vw 0 white, 0 0.1vw white, 0.1vw 0 white, 0 0.1vw white;
}

.sidebartext {
  top: 17vh;
  left: 0.3vw;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 2vw;
  align-self: auto;
  font-style: italic;
  text-align: center;
  font-family: Roboto;
  font-weight: 800;
  line-height: normal;
  font-stretch: condensed;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
  z-index: 10;
}

.logo {
  position: absolute;
  width: 9.8vw;
  height: 19.8vh;
  left: 0.5vw;
  top: -2.5vh;
  z-index: 45;
}

.logotext {
  top: -2.8vh;
  left: 10vw;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 2.44vw;
  align-self: auto;
  font-style: italic;
  z-index: 2;
  text-align: center;
  font-family: Roboto;
  font-weight: 800;
  line-height: normal;
  font-stretch: condensed;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
  z-index: 5;
  text-shadow: 0.07vw 0 white, 0 0.07vw white, 0.07vw 0 white, 0 0.07vw white;
}

.midlogo {
  position: absolute;
  width: 75vw;
  height: 114vh;
  left: 24.5vw;
  top: 0.6vh;
  opacity: 0.45;
  z-index: 3;
}

.logout {
  box-sizing: border-box;
  position: absolute;
  width: 4.9vw;
  height: 3vh;
  left: 91vw;
  top: 9.5vh;
  font-size: 1.4vh;
  font-family: Roboto;
  z-index: 10;
  font-style: italic;
  font-weight: 800;
  text-align: center;
  background: #cfd9f6;
  border: 0.075vw solid #000000;
  box-shadow: 0vw 0.3vw 0.3vw rgba(0, 0, 0, 0.25);
  border-radius: 2vw;
}

.logout:hover {
  background-color: #e48d7a;
  color: white;
  transform: scale(1.1);
}

.triangledown {
  position: absolute;
  width: 2vw;
  height: 2vw;
  left: 21.8vw;
  top: 20.7vh;
  z-index: 420;
}

.searchbookside {
  box-sizing: border-box;
  position: absolute;
  width: 22.56vw;
  height: 9.5vh;
  left: 0.6vw;
  top: 30.45vh;
  font-family: Roboto;
  font-style: italic;
  font-weight: 800;
  font-size: 1.3vw;
  z-index: 5;
  text-align: center;
  background: #D9D9D9;
  border: 0.14vw solid #000000;
  box-shadow: 0vw 0.3vw 0.3vw rgba(0, 0, 0, 0.25);
  border-radius: 2.05vw;
  box-sizing: border-box;
}

.searchbookside:hover {
  background-color: #C0C0C0;
  color: white;
  transform: scale(1.03);
}

.checkedoutbookside {
  box-sizing: border-box;
  position: absolute;
  width: 22.56vw;
  height: 9.5vh;
  left: 0.6vw;
  top: 43.2vh;
  font-family: Roboto;
  font-style: italic;
  font-weight: 800;
  font-size: 1.3vw;
  z-index: 5;
  text-align: center;
  background: #D9D9D9;
  border: 0.14vw solid #000000;
  box-shadow: 0vw 0.3vw 0.3vw rgba(0, 0, 0, 0.25);
  border-radius: 2.05vw;
  box-sizing: border-box;
}

.checkedoutbookside:hover {
  background-color: #C0C0C0;
  color: white;
  transform: scale(1.03);
}

.fineholdbookside {
  box-sizing: border-box;
  position: absolute;
  width: 22.56vw;
  height: 9.5vh;
  left: 0.6vw;
  top: 56.4vh;
  font-family: Roboto;
  font-style: italic;
  font-weight: 800;
  font-size: 1.3vw;
  z-index: 5;
  text-align: center;
  background: #D9D9D9;
  border: 0.14vw solid #000000;
  box-shadow: 0vw 0.3vw 0.3vw rgba(0, 0, 0, 0.25);
  border-radius: 2.05vw;
  box-sizing: border-box;
}

.fineholdbookside:hover {
  background-color: #C0C0C0;
  color: white;
  transform: scale(1.03);
}

.requestbookside {
  box-sizing: border-box;
  position: absolute;
  width: 22.56vw;
  height: 9.5vh;
  left: 0.6vw;
  top: 69.2vh;
  font-family: Roboto;
  font-style: italic;
  font-weight: 800;
  font-size: 1.3vw;
  z-index: 5;
  text-align: center;
  background: #D9D9D9;
  border: 0.14vw solid #000000;
  box-shadow: 0vw 0.3vw 0.3vw rgba(0, 0, 0, 0.25);
  border-radius: 2.05vw;
  box-sizing: border-box;
}

.requestbookside:hover {
  background-color: #C0C0C0;
  color: white;
  transform: scale(1.03);
}

.rectangle1bigsportal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background: #D5CFCF;
}

/*copy from beginning until here for all future student css pages*/

.rectsearchbook {
  box-sizing: border-box;
  position: absolute;
  width: 30vw;
  height: 40vh;
  left: 30vw;
  top: 17vh;
  background: #EAEEFF;
  opacity: 0.79;
  border: 0.07vw solid #000000;
  box-shadow: 0vw 0.3vw 0.3vw rgba(0, 0, 0, 0.25);
  z-index: 3;
  border-radius: 2vw;
  font-family: 'Roboto';
  font-style: italic;
  text-align: right;
  font-weight: 800;
  font-size: 4.7vw;
  line-height: 5vw;
  color: #000000;
  padding: 0.4vw;
}

.rectcheckedoutbook {
  box-sizing: border-box;
  position: absolute;
  width: 30vw;
  height: 40vh;
  left: 65vw;
  top: 17vh;
  background: #EAEEFF;
  opacity: 0.79;
  border: 0.07vw solid #000000;
  box-shadow: 0vw 0.3vw 0.3vw rgba(0, 0, 0, 0.25);
  z-index: 3;
  border-radius: 2vw;
  font-family: 'Roboto';
  font-style: italic;
  text-align: left;
  font-weight: 800;
  font-size: 4.7vw;
  line-height: 5.5vw;
  text-align: right;
  color: #000000;
  padding: 1.25vw;
}

.rectfineholdbook {
  box-sizing: border-box;
  position: absolute;
  width: 30vw;
  height: 40vh;
  left: 30vw;
  top: 59vh;
  background: #EAEEFF;
  opacity: 0.79;
  border: 0.07vw solid #000000;
  box-shadow: 0vw 0.3vw 0.3vw rgba(0, 0, 0, 0.25);
  z-index: 3;
  border-radius: 2vw;
  font-family: 'Roboto';
  font-style: italic;
  text-align: left;
  font-weight: 800;
  font-size: 4.7vw;
  line-height: 5.5vw;
  text-align: right;
  color: #000000;
  padding: 1.75vw
}

.rectbookrequestbook {
  box-sizing: border-box;
  position: absolute;
  width: 30vw;
  height: 40vh;
  left: 65vw;
  top: 59vh;
  background: #EAEEFF;
  opacity: 0.79;
  border: 0.07vw solid #000000;
  box-shadow: 0vw 0.3vw 0.3vw rgba(0, 0, 0, 0.25);
  z-index: 3;
  border-radius: 2vw;
  font-family: 'Roboto';
  font-style: italic;
  text-align: left;
  font-weight: 800;
  font-size: 4.7vw;
  line-height: 5.5vw;
  text-align: right;
  color: #000000;
  padding: 1.75vw
}

.rectsearchbook:hover {
  background-color: #B7C5FF;
  color: white;
  transform: scale(1);
}

.rectcheckedoutbook:hover {
  background-color: #B7C5FF;
  color: white;
  transform: scale(1);
}

.rectfineholdbook:hover {
  background-color: #B7C5FF;
  color: white;
  transform: scale(1);
}

.rectbookrequestbook:hover {
  background-color: #B7C5FF;
  color: white;
  transform: scale(1);
}

.searchbookimage {
  position: absolute;
  width: 13.5vw;
  height: 33.4vh;
  left: 31.25vw;
  top: 20.5vh;
  z-index: 5;
}

.checkedoutbookimage {
  position: absolute;
  width: 13.5vw;
  height: 33.4vh;
  left: 65.2vw;
  top: 21.4vh;
  z-index: 5;
}

.fineholdbookimage {
  position: absolute;
  width: 15.7vw;
  height: 33.4vh;
  left: 30.52vw;
  top: 64vh;
  z-index: 5;
}

.bookrequestbookimage {
  position: absolute;
  width: 15.7vw;
  height: 33.4vh;
  left: 63.7vw;
  top: 64vh;
  z-index: 5;
}

.wiptext {
  position: absolute;
  width: 39.06vw;
  height: 25.75vh;
  left: 830px;
  top: 44vh;
  font-family: Roboto;
  font-style: italic;
  font-weight: 800;
  font-size: 2.93vw;
  z-index: 5;
  text-align: center;
  background: #D9D9D9;
  border: 0.14vw solid #000000;
  box-shadow: 0vw 0.3vw 0.3vw rgba(0, 0, 0, 0.25);
  border-radius: 2.05vw;
  box-sizing: border-box;
}